.postbody h2 {
  color: gray;
  font-size: larger;
  font-weight: bold;
}

.postbody h1 {
  margin: 10px 0;
  font-size: 150%;
  font-weight: bold;
  line-height: 2.1;
}

.postbody a {
  color: #006699;
}

.postbody a:hover {
  color: #003366;
  text-decoration: underline;
}

.postbody p {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 1.5;
}
